body {
    box-sizing: border-box;
    background-color:gray ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.evenodd{
    display: flex;
    float: right;
}
p {
    font-size: x-large;
}
#counter {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    width: 20vw;
    border-radius: 10px;
}
button {
    padding: 15px;
    background-color: thistle;
    border-radius: 10px;
    font-size: large;
}
@media screen and (max-width:900px) {
    #counter {
        width: 50vw;
    }
    button {
        padding: 5px;
    }
}