body {
    margin-top: 0px;
    box-sizing: border-box;
}
.first{
    display: flex;
    background-color: aqua;
    justify-content: right;
    margin: -20px;
    
}
.menu {
    display: flex;
}
.nav {
    display: flex;
    justify-content: center;
    padding: 50px;
}
div ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin-right: 20px;
}
.box {
    display: flex;
    flex-direction: column;
    border:2px solid;
    padding: 50px ;
    margin-left: 30%;
    margin-right: 30%;
    align-items: justify;
    border-radius: none;
}
button{
    background-color: red;
    padding: 10px 10px;
}
button:hover {
    background-color: green;
}
@media 
{

}
 