body {
    background-color:peachpuff;
    box-sizing: border-box;
}
.box{
    background-color:white;
    display: flex;
    border: 2px solid;
    margin :5% 40% 0% 40%;
}
form {
    display: grid;
    padding: 5% 10%;
    gap:10px;
}

button {
    background-color: green;
    display: flex;
    padding: 2px;
    justify-content: center;
}
button:hover {
    background-color: red;
}
.footer {
    display: flex;
    font-size: small;
}
input{
    padding: 5px;
}
@media  screen and (max-width: 900px) {
    .box {
        margin :10%;
    }
    
}
@media screen and (max-width :275px)
.box {
    margin :5%;
}